{% extends "blog/base.html" %}
{% block content %}

<article style="border:none;background:none;"  class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
         <h1 class="article-title">{{ object.title }}</h1>
        <img class="rounded-circle" src="{{post.author.profile.image.url}}"> 
      <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
      <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
      {% if object.author == user %} <!-- Only shows posts the user has made
      --!>

   <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">update<a/>
      <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">delete<a/>
 
      <div>
      </div>  
      {% endif %}
    </div>
   
    <img style="width:300px;height:300px;" class="float-right mr-3 img-thumbnail" src="{{post.image.url}}">
 <p class="article-content">{{ object.content }}</p>
    </div>
</article>
{% endblock content %}
