{% extends "blog/base.html" %}
{% block content %}
<h1 class="mb-3">Users</h1>

<table class="table table-striped">
  <tbody>
    {% for profile in profiles %}
    <tr>
      <td>
        {% if profile.image %}
        <img src="{{profile.image.url}}">
        {% endif %}
      </td>
      <td>{{profile.user.username}}</td> 
      <td><a href={% url 'user-posts' profile.user.username %}>Posts</a></td>
      <td><a href="{% url 'vitamins-from-user' profile.user.username %}">Vitamins</a></td>
    </tr>
    {% endfor %}

  </tbody>
</table>


{% endblock content %}
