{% extends "blog/base.html" %}
{% block content %}
<h1 class="mb-3" style="display:inline-block;">My Vitamins</h1>
<a style="float:right;" class="btn btn-secondary" href="{% url 'vitamin-create' %}">Add Vitamin</a>


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Link</th>
      <th scope="col">Price</th>
      <th scope="col">Image</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for vitamin in vitamins %}
    <tr>
      <td><a href="{% url 'vitamin-update' vitamin.id %}">{{ vitamin.title }}</a></td>
      <td><a href="{{ vitamin.url }}">Buy Here</a></td>
      <td>{{ vitamin.price }}</td> 
      <td scope="row"><img style="width:75px;height:75px;" class="img-thumbnail" src="{{ vitamin.image.url }}"></td>
      <td><a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'vitamin-delete' vitamin.id %}">Delete</a></td>
    </tr>
    {% endfor %}

    <tr>
      <th>Total</th>
      <td></td>
      <td>{{total}}</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

{% endblock content %}
